<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="database" packages="">
    <Appenders>
        <File name="fout" fileName="DatabaseSettings.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="fout"/>
        </Root>
    </Loggers>
</Configuration>